{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<section class="product-detail-page">
    <div class="container">
        <div class="breadcrumbs">
            <a href="{% url 'home' %}">ГЛАВНАЯ</a>
            <span>/</span>
            <a href="{% url 'product_list' %}">ЖЕНЩИНАМ</a>
            <span>/</span>
            <a href="{% url 'product_list' %}">ОДЕЖДА</a>
            <span>/</span>
            <span>{{ product.name|upper }}</span>
        </div>

        <div class="detail-layout">
            <div class="detail-thumbs">
                {% for image in product.images.all|slice:':3' %}
                    <div class="detail-thumb">
                        <img src="{{ image.image.url }}" alt="{{ product.name }}">
                    </div>
                {% empty %}
                    <div class="detail-thumb empty-image">NO IMAGE</div>
                {% endfor %}
            </div>

            <div class="detail-main-image">
                {% if product.main_image %}
                    <img src="{{ product.main_image.url }}" alt="{{ product.name }}">
                {% else %}
                    <div class="empty-image big-empty">NO IMAGE</div>
                {% endif %}
            </div>

            <div class="detail-info-panel">
{% endblock %}