{% extends 'base.html' %}
{% block title %}Каталог{% endblock %}

{% block content %}
<section class="catalog-page">
    <div class="container">
        <div class="breadcrumbs">
            <a href="{% url 'home' %}">ГЛАВНАЯ</a>
            <span>/</span>
            <span>ЖЕНЩИНАМ</span>
            <span>/</span>
            <span>ОДЕЖДА</span>
        </div>

        <div class="catalog-layout">
            <aside class="catalog-sidebar">
                <div class="sidebar-title">КАТЕГОРИИ</div>
                <div class="sidebar-links">
                    <a href="#">По цене</a>
                    <a href="#">Материал</a>
                    <a href="#">Акции</a>
                    <a href="#">Размер</a>
                    <a href="#">Бренд</a>
                    <a href="#">Образ</a>
                </div>

                <div class="sidebar-title sidebar-gap">ФИЛЬТРЫ</div>
                <div class="filter-box-dark">
                    <div class="filter-label">Цена</div>
                    <div class="fake-range"></div>
                    <div class="mini-input-row">
                        <span>0</span>
                        <span>34000</span>
                    </div>

                    <div class="filter-label">Размер</div>
{% endblock %}